body{
    background-color: white;
}

h1 {
    color: #ffffff;
    
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background: black;
}

p{
    color: rgb(7, 7, 226);
}
.exemplo-back{
height: 300px;
background-color: rgb(117, 121, 117);
background-image:url(img/pexels-artempodrez-7232830.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;

}